/* styles.css */


/* styles.css */
                                                                    /* Navigation Bar */
.Top-bar {
  height: 80px; /* Adjust as needed */
  z-index: 9999;
  background-color:  rgb(105,171,145);
  width: 100%;
  position:fixed;
  top: 0;
  color: #fff;
  display:flex;
  justify-content: space-between; 
  align-items: center;


}

.top-bar-item-left {
  display: flex; /* Display items horizontally */
  font-size: 13px;
  
}

.top-bar-right-item1 {
  display: flex;
  font-size: 15px;
  padding: 2px;
  margin-right: 2px; /* Adjust the margin-right value to reduce the space */
}

                                                              /* Centered main text  */


                                                                
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              /* General styles */
.centered-text {
  position: absolute; /* Change to absolute positioning */
  top: 25%; /* Position at the vertical center */
  left: 50%; /* Position at the horizontal center */
  transform: translate(-50%, -50%);  /* Adjusted height to fit remaining screen */
  color: aliceblue;
}

.Header-text{
  font-size: 24px;
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the text horizontally */
  width: 100%; /* Ensure the text takes up the full width */
  
}
  /* to hold links to different pages on main page */
.t-div-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust as needed */
}
/* For the non navbar page links on main page */
.transparent-div {
  background-color: rgba(255, 255, 255, 0.09); 
  display: flex;
  height: 150px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.transparent-div-small{
  background-color: rgba(255, 255, 255, 0.09); 
  width: calc(50% - 5px); /* 50% width with gap between divs */
  display: flex;
  height: 150px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* 

                                styles  for Register and Login */
.yellow-line {
  height: 2px; /* Adjust the height as needed */
  background-color: rgb(188, 190, 17);

  width:30%;
}

.grey-line{
  height: 2px;
  background-color: dimgray;
  width:30% ;
  margin: 0 auto;

}

.green-box {
  width: 200px; /* Set width as needed */
  height: 250px; /* Set height as needed */
  background-color: rgb(105,171,145); /* Set background color to green */
}

.inputbox-reg{
  padding: 20px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.navbar-header{
  font-size:45px;
  padding: px;
}

.Radio-box {
  display: flex;
  align-items: center;
}

.bottom-bar {
  background-color: rgb(105, 171, 145);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.spacer {
  height: 20px; /* Adjust the height as needed */
}

/* 
                                      Backround */

.app-container {
  position: relative; /* Ensure the app-container is positioned */
  height: 200vh;
  overflow-y: auto;
  background-image: url('../public/backround.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
}
body {
  background-color: rgb(238, 238, 238);
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

/* ButtonGroup component styles */
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
}

 
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}



.popup-menu {
  position: fixed;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(31, 74, 82, 0.822);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  height: 600px;
}


.popup-inner {
  text-align: center;
}

.popup-button, .popup-close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.popup-button:hover, .popup-close-button:hover {
  background-color: transparent;
}


.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;



}