/* styles.css */


/* styles.css */
                                                                    /* Navigation Bar */
.Top-bar {
  height: 80px; /* Adjust as needed */
  background-color:  rgb(105,171,145);
  color: #fff;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  position: relative;
}

.top-bar-item-left {
  display: flex; /* Display items horizontally */
  font-size: 13px;
  
}

.top-bar-right-item1 {
  display: flex;
  font-size: 15px;
  padding: 2px;
  margin-right: 2px; /* Adjust the margin-right value to reduce the space */
}

                                                              /* Centered main text  */


                                                                
                                                              
                                                              
                                                              
                                                              
                                                              
                                                              /* General styles */
.centered-text {
  position: absolute; /* Change to absolute positioning */
  top: 25%; /* Position at the vertical center */
  left: 50%; /* Position at the horizontal center */
  transform: translate(-50%, -50%);  /* Adjusted height to fit remaining screen */
}

.Header-text{
  font-size: 24px;
}


/* 

                                styles  for Register and Login */
.yellow-line {
  height: 2px; /* Adjust the height as needed */
  background-color: rgb(188, 190, 17);
  width: 100%;
  width:30%;
}

.green-box {
  width: 200px; /* Set width as needed */
  height: 250px; /* Set height as needed */
  background-color: rgb(105,171,145); /* Set background color to green */
}

.inputbox-reg{
  padding: 20px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.navbar-header{
  font-size:45px;
  padding: px;
}

.Radio-box {
  display: flex;
  align-items: center;
}

.bottom-bar {
  background-color: rgb(105,171,145);
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.spacer {
  height: 20px; /* Adjust the height as needed */
}

/* 
                                      Backround */

.app-container {
  height: 200vh;
  overflow-y: auto;
  background-image: url('../public/backround.png');
  background-size: cover; /* This will make the image cover the entire container */
  background-repeat: repeat; /* This will prevent the image from repeating */
  background-position: center; /* This will center the image */
  min-height: 100vh;
}
body {
  background-color: rgb(238, 238, 238);
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}